@font-face {
    font-family: "noto-sans";
    src: url("./fonts/NotoSansKR-Medium.otf");
}

.post {
    background-color: white;
    max-width: 614px;
    border: 1px solid lightgray;
    margin: 25px auto;
    font-family: "noto-sans";
    font-size: 12px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    font-weight: lighter;
    padding: 5px 10px 5px 10px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 16px 2px;
    color:rgb(38, 38, 38);
    height: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.post__avatar {
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
    font-family: "noto-sans";
    font-size: 12px;
}

.post__comments {
    padding: 5px 10px 5px 10px;
}

.post__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}

.post__input:focus {
    outline: none;
}

.post__button {
    border: none;
    border-top: 1px solid lightgray;
    background-color: white;
    font-weight: 600;
    color:rgb(0, 173, 185)
}

.post__timestr {
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: rgb(115, 115, 115);
}

.post__replybox {
    height: 40px;
}

.post__replybox__heart {
    padding: 5px 0px 5px 10px;
    height: calc(100% - 10px);
    object-fit: contain;
}

.animation_btn {
    animation: beat .1s 1 alternate;
}

/* Heart beat animation */
@keyframes beat{
	to { transform: scale(1.2); }
}